/* colors */
$dark :#353535;
$dark-gray:#474747;
$light-gray1:#A5A5A5;
$light-gray2:#C4C4C4;
$light-gray3:#5F5F5F;
$light-gray4:#545454;
$green:#519945;
$white:#fff;
$border-radius:5px;
$error:red;

/* Fonts */
$font: 'Roboto', sans-serif;

