/* colors */
$dark: #353535;
$dark-gray: #474747;
$light-gray1: #a5a5a5;
$light-gray2: #c4c4c4;
$light-gray3: #5f5f5f;
$light-gray4: #545454;
$green: #519945;
$white: #fff;
$border-radius: 5px;
$error: red;

/* Fonts */
$font: "Roboto", sans-serif;
