.layout{
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  &__header{}
  &__main{
    min-height: calc(100vh - 270px);
    background-color: $light-gray4;
    height: 100%;
  }
  &__footer{}
}